.container11{
  background-color: rgb(50, 69, 85);
  margin: 25px 50px 25px 50px;
}
.tb{
  margin: 55px 50px 50px 50px;
}
.thead-dark{
 background-color: white; 
}
.containerr{
  background-color: rgb(93, 52, 58);
  margin: 25px 50px 25px 50px;
}
.tablee{
  margin: 55px 50px 50px 50px;
}
.thead-darkk{
 background-color: white; 
}

/***********animation*************/
/* .Get-contianer{
  max-width: 1200px;
  margin: auto;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  background-image:url("https://ledmenulight.com/wp-content/uploads/2019/07/Dim-Lighting-Makes-You-Eat-More-800x675.jpg");
  background-size:cover;
  width: 100%;
  height:100%
}
.heading-line{
  position: relative;
  display: block;
  padding: 0px 0px 10px 0px;
  font-weight: 500;
  text-decoration: none;
  transition: .35s ease;
  border-bottom: 3px solid transparent;
  font-size: 48px;
  color: rgb(49, 30, 156);
  background-color:aquamarine;
  font-style:italic;
}

.heading-line:after {
    position: absolute;
    display: inline-block;
    background: #efa617;
    content: " ";
    height: 0;
    transition: .35s ease;
    bottom: 0;
    width: 100px;
    height: 3px;
    margin: 0 auto;
    left: 0;
    transform: none;
}
.og-row{
  display:flex;
  flex-wrap: wrap;
  padding: 15px 0px;

}
.og-row select{
  padding: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #222629;
 
  color: #fff;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;

}
.text-center{
  text-align: center;
}
.og-li{
  border-bottom: 1px solid #3e4042;
  color: #fff;
  font-size: 18px;
  

}
.og-li-col{
  padding: 0px 10px;
}
@media only screen and (max-width: 450px) {
  .og-li-head {
    font-size: 8px;
  }
}
.og-li-col-1{
  width:5%;
}
@media only screen and (max-width: 600px) {
  .og-li {
    font-size: 20px;
  }
}
.og-li-col-2{
  width:15%;
  font-size:15px;
}
@media only screen and (max-width: 600px) {
  .og-li {
    font-size: 20px;
    background-color:#efa617;
  }
}

.og-li-col-3{
  width:13%;
  font-size:15px;

}
.og-li-col-4{
  width:13%;
  font-size:15px;
}
.og-li-col-5{
  width:13%;
  font-size:15px;
}
.og-li-col-6{
  width:15%;
  font-size:15px;
}
.og-li-col-7{
  width:13%;
  font-size:15px;
}
.og-li-col-8{
  width:13%;
  font-size:15px;
  font-weight:bold;
}
.og-li-head{
  font-size: 20px;
  font-weight: 700;
}
@media  only screen and (max-width: 400px){
  .og-li-col-3{
    width:13%;
    font-size:12px;
  }
  .og-li-col-4{
    width:13%;
    font-size:12px;
  }
  .og-li-col-5{
    width:13%;
    font-size:12px;
  }
  .og-li-col-6{
    width:15%;
    font-size:12px;
  }
  .og-li-col-7{
    width:13%;
    font-size:12px;
  }
  .og-li-col-8{
    width:13%;
    font-size:12px;
    font-weight:bold;
  }
  .og-li-head{
    font-size: 20px;
    font-weight: 700;
  }

}

.hide{
  display:none;
}
.details-heading{
  background-color: #efa617;
  color:black;
}
.all-container{
  padding:50px;
 
  margin-top:0px;
}
.all-buttons{
  display:flex;
  flex-direction:row;
  justify-content:center;
}
.Add{
  background-color:green;
  border-radius: 10px;
  width:80px;
  height:40px;
  color:white;

  }
.Update{
  background-color:blue;
  border-radius: 10px;
  width:80px;
  height:40px;
  color:white;
}
.delete{
  background-color:red;
  border-radius: 10px;
  width:80px;
  height:40px;
  color:white;
}

/**search************/
/* .Home-Container{
  background-image:url("https://wallpaperaccess.com/full/1401021.jpg");
  background-size:cover;
  height: 95vh;
}

@media only screen and (max-width: 600px) {
  .Home-Container{
  background-image:url("https://st3.depositphotos.com/4590583/17205/i/450/depositphotos_172055544-stock-photo-hot-spices-chili-and-spice.jpg");
  background-size:cover;
  }
}

.home-heading{
  font-family:Italic;
  font-weight:bold;
  text-align:center;
  justify-content:center;
  background-color:aquamarine;
}

.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 70px;
  border-bottom: 1px solid #fafafa;
}
a {
  text-decoration: none; 
  color: inherit;
}
.chat__details {
  flex: 1;
}

.chat__details > p {
  color: gray;
}

.chat__image {
  margin-right: 20px;
}
.chat__timestamp {
  color: gray;
}

.chat {
  font-size: medium;
}

.chat__details > h2 {
  font-size: larger;
}

.search-container {
  width: 350px;
  height: 35px;
  margin: 40px 0px 0px 0px;
}

.search-container-div {
  text-align: center;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  height: 40px;
  border: 1px solid rgb(0, 0, 0);
  float: left;
  width: 250px;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 40px;
  padding: 10px;
  background: #008cff;
  color: white;
  font-size: 17px;
  height: 40px;
  border: 1px solid rgb(0, 0, 0);
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.form-search {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.heading-details{
  font-size:15px;
  color:aliceblue;
  background-color:#0b7dda; 
}
@media  only screen and (max-width: 400px){
  .heading-details{
    font-size:10px;
  }
} */ 
/**material UI**/
/* .table{
  width: auto;
 padding-left: 20vw;
  
  background-color: skyblue;
}
.thead{

  font-size: 200;
  background: white;
  color: white;
}
.row{
  font-size: 200;
} */

