.buttonpost {
    background-color: lightgrey;
    border-width: 0px;
    border-radius: 5px;
    height: 45px;
    width: 80px;
    margin: 10px;
}
.buttonpost:hover{
    background-color: rgb(17, 177, 226);
}
.buttonput{
    background-color:lightskyblue;
    border-width: 0px;
    border-radius: 5px;
    height: 45px;
    width: 80px;
    margin: 10px;
}
.buttonput:hover{
    background-color: rgb(226, 88, 24);
}
.buttondelete{
    background-color:rgb(221, 25, 25);
    border-width: 0px;
    border-radius: 5px;
    height: 45px;
    width: 80px;
    margin: 10px;
}
.buttondelete:hover{
    background-color: rgb(64, 177, 115);
}
.buttonall{
    background-color:lightgoldenrodyellow;
    border-width: 0px;
    border-radius: 5px;
    height: 45px;
    width: 80px;
    margin: 10px;
}
.buttonall:hover{
    background-color: rgb(56, 93, 141);
}
.buttonget {
    background-color: lightseagreen;
    border-width: 0px;
    border-radius: 5px;
    height: 45px;
    width: 120px;
    margin: 10px;
}
.buttonget:hover{
    background-color: rgb(89, 126, 75);
}
.maincontainer{
    text-align: center;
   
    
}
img{
    width: 35%;
    height: 5%;
}






body{margin: 0px;}
.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(192, 71, 176) 50%, rgb(222, 228, 231) 50%);
  bottom:0;
  left:-50%;
  opacity: 0.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;}
.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;}
.bg3 { animation-duration:5s;}

@keyframes slide {
  0% {transform:translateX(-25%);}
  100% {transform:translateX(25%);}}

.ss{
margin: 35px 0px 0px 20px;
text-align: center;
height: 300px;
width: 350px;
overflow: hidden;
backdrop-filter: blur(10PX);
-webkit-backdrop-filter: blur(10PX); 
border-radius: 20px;
border:1px solid ; 
box-shadow: 0px 2PX 20PX 0px 
}



